@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

*{
  margin: 0;
  padding: 0;
}

body{
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  background-color: #172815;
  height: 240px;
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: white;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid rgba(0,0,0,0.75);
  box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.75);
}

h1 {
  font-size: 40px;
  margin-left: 10px;
}

.section {
  margin: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
}

.aside {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 420px;
  flex-basis: 15%;
  background-color: white;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav{
  font-size: 30px;
  height: 70px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #177116;
  color: white;
  border-right: 2px solid rgba(0,0,0,0.4);
}

.nav-item {
  text-align: center;
  padding: 23px;
  font-size: 20px;
  width: 60%;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

.nav-item:hover {
  background-color: black;
  width: 71%;
  color: white;
  transition: all 0.5s;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.article-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin: 10px;
}
.news{
  display: flex;
  flex-direction: row;
}
.sub-article-home {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  height: 200px;
  flex-basis: 40%;
  border-radius: 20px;
  box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.75);
}
.head{
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  height: 35%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.information{
  width: 100%;
  height: 70%;
  text-align: center;
}

.information > .icon{
  position: relative;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.information > p{
  color: black;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.information > h2 , .information > p{
  position: relative;
  top: -20%;
}

.sub-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-sub-article{
  background-color: white;
  width: 25vw;
  margin: 10px;
  border-radius: 15px;
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
}

.sub-sub-article h2, .sub-sub-article p{
  color: black;
  text-align: center;
  margin: 20px;
}

.sub-sub-article p{
  font-size: 19px;
}

.sub-sub-article h2{
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  margin: 0;
  color: white;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.sub-article:nth-child(1) {
  flex-basis: 20%;
  margin: 10px;
  color: white;
  font-size: 20px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.sub-article:nth-child(2) {
  flex-basis: 80%;
  margin: 10px;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}

.sub-article:nth-child(3) {
  flex-basis: 80%;
  margin: 10px;
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.sub-article:nth-child(4) {
  flex-basis: 80%;
  margin: 10px;
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.article-contact {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-basis: 85%;
  
}

.sub-article-contact {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 30vw;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.75);
}

/*-----------GAME INFO STYLE-----------------*/

.article-info {
  display: flex;
  flex-direction: column;
  flex-basis: 85%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.75);
  margin: 10px;
}

.sub-article-info {
  flex-basis: 100%;
  margin: 10px;
  color: black;
}

.sub-article-info:nth-child(3) {
  display: flex;
  justify-content: center;
}

.sub-article-info:nth-child(4) {
  display: flex;
  justify-content: center;
}

.sub-article-info:nth-child(5) {
  display: flex;
  justify-content: center;
}

.titulo-info {
  text-align: center;
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  padding: 20px;
  margin: -10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-size: 35px;
}

.text-info {
  color: black;
  font-size: 20px;
}

.sub-sub-article-info-table {
  text-align: center;
  font-size: 25px;
}
table,
tbody,
thead,
td,
tr {
  border: 2px solid black;
}

table{
  border-radius: 10px;
}

thead{
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  color: white;
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
}

.sub-article-info-info {
  color: black;
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*-----------RULES STYLE------------*/

.article-rules {
  display: flex;
  flex-direction: column;
  flex-basis: 85%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.75);
  margin: 10px;
}

.sub-article-rules {
  flex-basis: 100%;
  margin: 10px;
}

.sub-article-rules:nth-child(1) {
  flex-basis: 40%;
}

.titulo-rules {
  text-align: center;
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  padding: 20px;
  margin: -10px ;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-size: 35px;
}

.text-rules {
  color: black;
  font-size: 20px;
}
.sub-article-rules h2{
  margin-top: 5vh;
}

.sub-sub-article-rules {
  margin: 15px;
  
  font-size: 23px;
}
li {
  margin: 15px 0;
  margin-left: 5vh;
}

/*-----REGISTRATION STYLE----------*/

.article-registration {
  display: flex;
  flex-direction: column;
  flex-basis: 85%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.75);
  margin: 10px;
}

.button {
  font-size: 22px;
  color: white;
  height: 50px;
  width: 140px;
  border: none;
  margin: 10px 0;
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  box-shadow: 0 0 #95b46a inset ;
  
}
.button:hover {
  box-shadow: 150px  0 #95b46a inset;
  transition: all 0.5s;
}
.form{
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.form-title{
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
  padding: 20px;
  margin: -10px ;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
}
.form-fieldset{
  display: flex;
  justify-content: center;
  margin: 10px;
}
fieldset{
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 18px;
}
.form-fieldset-column{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.form-fieldset-column-one{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-one, .form-two, .form-three, .form-four, .form-five{
  padding: 10px;
  margin: 10px;
}
input{
  background: none;
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
select{
  height: 30px;
  background-color: white;
  width: vw;
  font-family: "Roboto", sans-serif;
}
label{
  font-size: 20px;
}
.form-end{
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
}
.form-submit{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
/*--------------RESPOSIVE MOBILE--------------------*/

@media (max-width: 1024px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .news{
    display: flex;
    flex-direction: column;
  }
  .head{
    background-image: linear-gradient(to bottom, #1ef61e, #2cd312, #2fb107, #2d9001, #277100);
    height: 85%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .sub-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
  }
  .sub-sub-article{
    width: 70vw;
  }
  
}
@media (max-width: 610px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img {
    width: 80%;
    justify-content: center;
  }
}